.form{

}
.form__group{
  padding: 16px 20px 23px;
  border-top:1px solid #e5e5e5;
}
.form__group-title{
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  font-size:18px;
  font-weight:bold;
  color: #000000;
}
