.header {
  padding-bottom: 56px;
  position: relative;
  background: #fff;
  z-index: 10;
  @media @tablet-widths {
    padding-bottom: 0;
    height: 56px;
  }
}

.header__logo {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  @media @tablet-widths {
    position: absolute;
    bottom: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    @media @desktop-widths {
      width: 187px;
      height: 96px;
    }
  }
}

