.header {
  height: 56px;
  position: relative;
  background: #fff;
  z-index:10;
  @media @tablet-widths {
    height: 56px;
  }
}

.header__logo {
  /*position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);*/
  margin: auto;
  align-self: flex-start;
  @media @tablet-widths {
    margin: 0;
  }
}

