.info-item{

}
.info-item__body{
  padding:48px 20px 28px;
  text-align: center;
  background: #eeeeee;
}
.info-item--accent .info-item__body{
  background: #81b3d2;
}
.info-item__title{

}
.info-item__img{
  line-height:0;
  font-size:0;
  img{
    width: 100%;
  }
}
