.social{
  padding:0;
  list-style: none;
  font-size:0;
  line-height:0;
  text-align: center;
}
.social__item{
  margin:0 3px;
  display: inline-block;
  vertical-align: top;
  a{
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    background: #81b3d2;
    img{
      position: absolute;
      left:50%;
      top:50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
