.social {
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.social__item {
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
}

.social__link {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background: #81b3d2;
  svg {
    fill: #fff;
  }
  &:hover {
    background: #669ec0;
  }
  &:active {
    background: #5496bd;
    svg {
      opacity: 0.3;
    }
  }
}
